* {
	box-sizing: border-box;	
}

body {
	padding: 0;
	margin: 0;
	/*background: #7f8fa6;*/
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.main__inner {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}

.batman {
	width: 250px;
	height: 350px;
	position: relative;
	animation: moveAnimation 7s linear infinite;
	margin-bottom: 30px;		
}

.batman__head {
	border-radius: 80% 80% 200px 200px / 50% 50% 100% 100%;
    background: #000;
    box-shadow: 3px 0px 4px rgba(136, 107, 107, .5) inset,
    			-2px 0px 20px rgba(123, 102, 102, .6) inset,
    			0px 15px 1px rgba(45, 44, 44, .4) inset;
    position: relative;
    width: 250px;
    height: 350px;
}

.batman__eyes {
	padding-top: 120px;
	display: flex;
	align-items: center;
	justify-content: space-between;	
}

.batman__eye {
	position: relative;	
	width: 	0px;
	border-top: 30px solid #fff;
	border-bottom: 30px solid transparent;
}

.batman__eye_right {
	transform: rotate(-10deg);
	z-index: 2;
	border-left: 40px solid transparent;
	border-right: 70px solid transparent;
}

.batman__scratch {
    position: absolute;
    top: 85px;
    right: 50px;
    background: #070c21;
    width: 5px;
    height: 90px;
    border-radius: 50%;
}

.batman__eye_left {
	transform: rotate(10deg);
	border-left: 70px solid transparent;
	border-right: 40px solid transparent;
}

.batman__mouth {
	position: relative;	
	margin: 40px auto 0;
	width: 150px;
	background: #f3c99e;
	height: 100px;
	border-radius: 0 0 50% 50%;
}

.batman__nouse {
	position: absolute;	
	left: calc(50% - 30px);
	width: 60px;
	height: 65px;
	z-index: 5;
}

.batman__nouse:before, .batman__nouse:after {
	content: "";
	position: absolute;	
	display: block;
	background: #383434;
	top: 0px;	
	width: 2px;
	height: 100%;
}

.batman__middle {
	width: 2px;
	height: 60px;
	position: absolute;
	top: 19px;
	background: #383434;
	left: calc(50% - 1px);		
}

.batman__nouse:before {
	transform: rotate(63deg);
	left: 0px;
}

.batman__nouse:after {
	transform: rotate(-63deg);
	right: 0;
}

.batman__mouth:before, .batman__mouth:after {
	content: "";
	display: block;	
	position: absolute;
}

.batman__mouth:before {
	top: -1px;
	left: 0;	
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	border-top: 40px solid #000;
	border-bottom: 30px solid transparent;
}

.batman__mouth:after {	
	width: 60px;
	height: 2px;
	border-radius: 50%;
	background: #500808;
	top: 60px;
	left: calc(50% - 30px);
}

.batman__ear {
	position: absolute;
	top: -110px;
	width: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 30px solid transparent;
	border-bottom: 160px solid #000;
	z-index: -2;
	/*	*/	
}

.batman__ear_left {
	left: 5px;
	border-left: 50px solid transparent;
}

.batman__ear_right {
	right: 5px;
	border-right: 50px solid transparent;
}

@keyframes moveAnimation {
	0%{
		transform: translateY(0);
	}
	25%{
		transform: translateY(-25px);
	}
	50% {
		transform: translateY(0px);
	}
	75% {
		transform: translateY(25px);
	}
	100% {
		transform: translateY(0);
	}
}

.shadow {
	width: 200px;
	height: 70px;
	background: rgba(0, 0, 0, .4);
	border-radius: 50%;
	
	perspective : 190px;
	animation: shadowAnimation 7s linear infinite;
}

@keyframes shadowAnimation {
	0% {
		background: rgba(0, 0, 0, .4);
		width: 200px;
	}
	25% {
		background: rgba(0, 0, 0, .1);
		width: 160px;
	}
	50% {
		background: rgba(0, 0, 0, .4);
		width: 200px;
	}
	75% {
		background: rgba(0, 0, 0, .7);
		width: 240px;
	}
	100% {
		background: rgba(0, 0, 0, .4);
		width: 200px;
	}
}

@keyframes moveAnimation {
	0%{
		transform: translateY(0);
	}
	25%{
		transform: translateY(-20px);
	}
	50% {
		transform: translateY(0px);
	}
	75% {
		transform: translateY(20px);
	}
	100% {
		transform: translateY(0);
	}
}




